[Unit]
Description=Jupyterhub
After=syslog.target network.target

[Service]
User={{ jupyterhub_user }}
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:{{ home }}/bin"
ExecStart={{ home }}/bin/jupyterhub
WorkingDirectory={{ home }}

[Install]
WantedBy=multi-user.target
